{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    
    <div dir="rtl">
        <h1>خانه اصلی</h1>
        {% if user.is_authenticated %}
            <p>خوش آمدید {{ user.username }}</p>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <a class="text-muted text-decoration-none" href="{% url 'book_list' %}">نمایش محصولات</a>
                <br>
                <button class="btn btn-danger mt-3" type="submit">خروج</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">ورود</a> | <a href="{% url 'signup' %}">ثبت نام</a>
        {% endif %}
    </div>
    
{% endblock %}