{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    ایجاد کتاب جدید
{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <h1>{{ book.title }}</h1>
        <p>{{ book.content }}</p>
        <p>{{ book.author }}</p>
        <h4>{{ book.price }}</h4>
        <br>
        <button type="submit" class="btn btn-success">ثبت</button>
    </form>
    <a href="{% url 'book_list' %}">لیست همه کتاب ها</a>
{% endblock %}
